body, html {
    height: 100%;
}

.page-holder{
    min-height: 100vh;
}

.bg-cover{
   background-size: cover !important;
}

.title {
    color: white;
    text-align: center;
    overflow: auto;
  }